<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>MusicTop - Usuarios </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/stylesheets/noticias/bootstrap-noticias.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/stylesheets/noticias/font-awesome-noticias.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="assets/stylesheets/noticias/font-awesome-animation-noticias.css" rel="stylesheet" />
    <!-- SIDE MENU STYLE CSS -->
    <link href="assets/stylesheets/noticias/component-noticias.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/stylesheets/noticias/style-noticias.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="cbp-spmenu-push">


   
    <!--NAVBAR-->

  <div class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
	 <a class="navbar-brand" href="/bienvenido/index">MusicTop</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">
	
			
			<% if logged_in? %>
            <li><a href="/users/show">Usuarios</a></li>
            <li><a href="/cds">CDs</a></li>
            <li><a href="/grupos/grupos">Grupos</a></li>
            <li><a href="/noticias/noticias">Noticias</a></li>
            <li><a href="/conciertos/conciertos">Conciertos</a></li>
            <li><a href="/contacto/contacto">Contacto</a></li>
            <li><a href="/ayuda/help">Ayuda</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cuenta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/users/edit" ><font color="black">
     
                Editar mi perfil</font></a></li>

              <li class="divider"></li>
              <li>
              <a href="/logout"><font color="black">
     
                Logout -<%= current_user.nombre %></font></a></li>
             
            </ul>
          </li>


            <% else %>
            <li><a href="/login">Login</a></li>     
            <li><a href="/contacto/contacto">Contacto</a></li>
            <li><a href="/ayuda/help">Ayuda</a></li>
            <li><a href="/signup">Registrarse</a></li>
             <% end %>
			
		 </ul>
	  </div>
   </div>
</div>
    <!--END NAVBAR-->
    
    <div class="container ">
        <!--Blog Start-->
        <div class="row top-margin-low">
            <!--Categories and other -->
            <div class="col-md-3 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                       Datos de tu perfil
                       

                    </div>
                    <div class="panel-body ">
                        <div class="ad1">
                             <br>
                            <li>
                            Nombre: <%= current_user.nombre %>
                        </li>
                      
                            <br></br>
                              <li>

                      Email: <%= current_user.email %>
                                </li>

                               
                        </div>
                    </div>
                </div>
             
               
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Entretenimiento
                    </div>
                    <div class="panel-body ">
                         Juega a los juegos de Music Top pinchándo en la imagen:
                        <div class="ad4">
                            

                           <a href="/lista/lista"> <img src="http://www.javipas.com/wp-content/uploads/2008/07/joystick.png" width="230px" height="250px" alt="juegos"></a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Kanarias Reggae
                    </div>
                    <div class="panel-body ">
                        <div class="ad2">
                            <img src="http://www.reggae.es/wp-content/uploads/2014/03/kanarias-reggae.jpg " width="230px" height="250px" alt="KanariasReggae">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Categories and other -->
            <!--Blog Listing-->
            <div class="col-md-6 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading black-back">
                        <strong>Lista de Usuarios de MusicTop</strong>
                    </div>
  



                   

                      <%=  User.find_each do |user| %>
                      
  						
  		                
						<p><strong>-Nombre:</strong> <%= user.nombre%></p>
                        <p><strong>-Email: </strong><%= user.email%></p>
                        <br></br>
                        <br>
                                 <% if current_user.admin? && !current_user?(:user) %>
    |                            <%= link_to "delete", method: :delete, data: { confirm: "¿estas seguro?" } %>
                                 <% end %>

                        <% end %>


                        
					
                </div>
                
            </div>
            <!--Blog Listing-->
            <!--Categories and other -->
            <div class="col-md-3 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Riceland Records
                    </div>
                    <div class="panel-body ">
                        <div class="ad3">
                             <img src=" http://www.ricelandrecords.com/wp-content/uploads/LOGO-NUEVO-WEB615.png"width="230px" height="250px" alt="Riceland Records">
                           
                        </div>
                    </div>
                </div>
               

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Multitrack
                    </div>
                    <div class="panel-body ">
                        <div class="ad4">

                            <img src=" http://multitrack.es/wp-content/uploads/2014/05/header.jpg"
                            width="230px" height="250px" alt="Multitrack">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Abuelita Studios
                    </div>
                    <div class="panel-body ">
                        <div class="ad1">

                            <img src=" http://www.abuelitastudios.com/news/wp-content/uploads/2012/07/LOGO-Abuelita-Studios-Grande-copia.jpg" width="230px" height="250px" alt="AbuelitaStudios">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Categories and other -->


        </div>
        <!--Blog end-->


    </div>
    <!-- /.container -->
    <!--Footer -->

    <div class="col-md-12 top-margin footer-section">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; Adán Rafael López Lecuona
    </div>
    <!--Footer end -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-noticias-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap-noticias.js"></script>
    <!-- SIDE MENU SCRIPTS -->
    <script src="assets/javascripts/noticias/modernizr-noticias.custom.js"></script>
    <script src="assets/javascripts/noticias/classie-noticias.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/javascripts/noticias/custom-noticias.js"></script>

</body>
</html>



  
